/*
    Author: Maipa Ly
    Date: 12/5/25
*/
form {
    border: .1em solid grey;
    border-radius: 2em;
    width: 550px;
    text-align: left;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 5em;
    display: block;
    padding: 1em;
    margin: 4em auto;
    padding-bottom: 1.5em;
    box-shadow: 0 .5em .5em .5em rgb(131, 167, 179);
    align-items: center;
}
fieldset {
    border: .1em solid black;
    height: 400px;
}
textarea {
    height: 40%;
    width: 450px;
}
#questionsButton {
    text-align: center;
    padding: 1em;
}
#questionsButton input {
    border: .2em solid black;
    border-radius: .5em;
    background-color: aliceblue;
}
label{
     display: block;
     font-weight: bold;
}
h2 {
    text-decoration: underline overline;
}
#contact {
    width: 50%;
}
#questionsButton input[type="submit"]:hover {
    color: rgb(132, 172, 210);
    background-color: #676767;
}
#questionsButton input[type="reset"]:hover {
    color: rgb(132, 172, 210);
    background-color: #676767;
}
#info {
    font-size: 20px;
}
.questions {
    margin-top: 2em;
    text-decoration: underline;
    padding: .5em;
}